In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import SimpleImputer

##### What will happen to you if you were in a car accident?

In [25]:
# import chardet

# with open('./data/accident.CSV', 'rb') as filedata:
#     result = chardet.detect(filedata.read(10000000))
# result

{'encoding': 'Windows-1252', 'confidence': 0.73, 'language': ''}

In [26]:
df = pd.read_csv('./data/Person.CSV', encoding='Windows-1252')
df.head()

/tmp/ipykernel_1937/861866498.py:1: DtypeWarning: Columns (15,106,108) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./data/Person.CSV', encoding='Windows-1252')

,STATE,STATENAME,ST_CASE,VE_FORMS,VEH_NO,PER_NO,STR_VEH,COUNTY,DAY,DAYNAME,...,WORK_INJ,WORK_INJNAME,HISPANIC,HISPANICNAME,LOCATION,LOCATIONNAME,HELM_USE,HELM_USENAME,HELM_MIS,HELM_MISNAME
0,1,Alabama,10001,2,1,1,0,81,7,7,...,8,Not Applicable (not a fatality),0,Not A Fatality (not Applicable),0,Occupant of a Motor Vehicle,20,Not Applicable,7,None Used/Not Applicable
1,1,Alabama,10001,2,1,2,0,81,7,7,...,0,No,7,Non-Hispanic,0,Occupant of a Motor Vehicle,20,Not Applicable,7,None Used/Not Applicable
2,1,Alabama,10001,2,2,1,0,81,7,7,...,8,Not Applicable (not a fatality),0,Not A Fatality (not Applicable),0,Occupant of a Motor Vehicle,20,Not Applicable,7,None Used/Not Applicable
3,1,Alabama,10002,2,1,1,0,55,23,23,...,0,No,7,Non-Hispanic,0,Occupant of a Motor Vehicle,20,Not Applicable,7,None Used/Not Applicable
4,1,Alabama,10002,2,2,1,0,55,23,23,...,8,Not Applicable (not a fatality),0,Not A Fatality (not Applicable),0,Occupant of a Motor Vehicle,20,Not Applicable,7,None Used/Not Applicable

In [27]:
df.columns.values

array(['STATE', 'STATENAME', 'ST_CASE', 'VE_FORMS', 'VEH_NO', 'PER_NO',
       'STR_VEH', 'COUNTY', 'DAY', 'DAYNAME', 'MONTH', 'MONTHNAME',
       'HOUR', 'HOURNAME', 'MINUTE', 'MINUTENAME', 'RUR_URB',
       'RUR_URBNAME', 'FUNC_SYS', 'FUNC_SYSNAME', 'HARM_EV',
       'HARM_EVNAME', 'MAN_COLL', 'MAN_COLLNAME', 'SCH_BUS',
       'SCH_BUSNAME', 'MAKE', 'MAKENAME', 'MAK_MOD', 'BODY_TYP',
       'BODY_TYPNAME', 'MOD_YEAR', 'MOD_YEARNAME', 'TOW_VEH',
       'TOW_VEHNAME', 'SPEC_USE', 'SPEC_USENAME', 'EMER_USE',
       'EMER_USENAME', 'ROLLOVER', 'ROLLOVERNAME', 'IMPACT1',
       'IMPACT1NAME', 'FIRE_EXP', 'FIRE_EXPNAME', 'AGE', 'AGENAME', 'SEX',
       'SEXNAME', 'PER_TYP', 'PER_TYPNAME', 'INJ_SEV', 'INJ_SEVNAME',
       'SEAT_POS', 'SEAT_POSNAME', 'REST_USE', 'REST_USENAME', 'REST_MIS',
       'REST_MISNAME', 'AIR_BAG', 'AIR_BAGNAME', 'EJECTION',
       'EJECTIONNAME', 'EJ_PATH', 'EJ_PATHNAME', 'EXTRICAT',
       'EXTRICATNAME', 'DRINKING', 'DRINKINGNAME', 'ALC_DET',
       'ALC_DETNAME', 'ALC_STATUS', 'ALC_STATUSNAME', 'ATST_TYP',
       'ATST_TYPNAME', 'ALC_RES', 'ALC_RESNAME', 'DRUGS', 'DRUGSNAME',
       'DRUG_DET', 'DRUG_DETNAME', 'DSTATUS', 'DSTATUSNAME', 'HOSPITAL',
       'HOSPITALNAME', 'DOA', 'DOANAME', 'DEATH_DA', 'DEATH_DANAME',
       'DEATH_MO', 'DEATH_MONAME', 'DEATH_YR', 'DEATH_YRNAME', 'DEATH_HR',
       'DEATH_HRNAME', 'DEATH_MN', 'DEATH_MNNAME', 'DEATH_TM',
       'DEATH_TMNAME', 'LAG_HRS', 'LAG_HRSNAME', 'LAG_MINS',
       'LAG_MINSNAME', 'P_SF1', 'P_SF1NAME', 'P_SF2', 'P_SF2NAME',
       'P_SF3', 'P_SF3NAME', 'WORK_INJ', 'WORK_INJNAME', 'HISPANIC',
       'HISPANICNAME', 'LOCATION', 'LOCATIONNAME', 'HELM_USE',
       'HELM_USENAME', 'HELM_MIS', 'HELM_MISNAME'], dtype=object)

In [28]:
MODEL_COLUMNS = [
    'ST_CASE', 
    'STATE',
    'STATENAME',
    'VEH_NO',
    'VE_FORMS',
    'PER_NO',
    'COUNTY',
    'DAY',
    'MONTH',
    'HOUR',
    'AGE',
    'SEX',
    'INJ_SEV',
    'SEAT_POS',
    'REST_USE',
]
TARGET = 'INJ_SEV'

In [20]:
# df = original_df

In [29]:
original_df = df.copy()
df = df[MODEL_COLUMNS]

In [ ]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Index: 78213 entries, 0 to 82842
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ST_CASE    78213 non-null  int64
 1   STATE      78213 non-null  int64
 2   STATENAME  78213 non-null  object
 3   VEH_NO     78213 non-null  int64
 4   VE_FORMS   78213 non-null  int64
 5   PER_NO     78213 non-null  int64
 6   COUNTY     78213 non-null  int64
 7   DAY        78213 non-null  int64
 8   MONTH      78213 non-null  int64
 9   HOUR       78213 non-null  int64
 10  AGE        78213 non-null  int64
 11  SEX        78213 non-null  int64
 12  INJ_SEV    78213 non-null  int64
 13  SEAT_POS   78213 non-null  int64
 14  REST_USE   78213 non-null  int64
dtypes: int64(14), object(1)
memory usage: 9.5+ MB

In [6]:
df.describe()

,ST_CASE,STATE,VEH_NO,VE_FORMS,PER_NO,COUNTY,DAY,MONTH,HOUR,AGE,SEX,INJ_SEV,SEAT_POS,REST_USE
count,82843.000000,82843.000000,82843.000000,82843.000000,82843.000000,82843.000000,82843.000000,82843.000000,82843.000000,82843.000000,82843.000000,82843.000000,82843.000000,82843.000000
mean,270481.285890,26.969774,1.375300,1.922069,1.512427,92.561315,15.692273,6.710489,13.586338,61.469973,1.466642,2.485279,13.066185,24.575691
std,164698.351762,16.482211,1.373135,2.140777,1.375056,97.179859,8.827610,3.375987,8.739387,141.478070,1.082332,1.836017,11.441827,34.763339
min,10001.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000
25%,121606.000000,12.000000,1.000000,1.000000,1.000000,31.000000,8.000000,4.000000,8.000000,24.000000,1.000000,0.000000,11.000000,3.000000
50%,260635.000000,26.000000,1.000000,2.000000,1.000000,71.000000,16.000000,7.000000,14.000000,38.000000,1.000000,3.000000,11.000000,3.000000
75%,420493.500000,42.000000,2.000000,2.000000,2.000000,115.000000,23.000000,10.000000,19.000000,57.000000,2.000000,4.000000,13.000000,20.000000
max,560121.000000,56.000000,59.000000,59.000000,57.000000,997.000000,31.000000,12.000000,99.000000,999.000000,9.000000,9.000000,99.000000,99.000000

In [7]:
df[df['VEH_NO'] > 3].shape

(1763, 15)

In [8]:
df[df['VE_FORMS'] > 3].shape

(4630, 15)

In [9]:
percent = len(df[df['VE_FORMS'] > 3]) / len(df) * 100
print(f'Percent of cases with outlier number of cars: {percent:0.2f}%')

Percent of cases with outlier number of cars: 5.59%

In [30]:
df = df[df['VE_FORMS'] <= 3]

### Running models
For starters we'll try to create models that learn on the data as is.</br>
This makes sense because not having specific information about a person in a motor accident could be valuable information by itself in predicting the person's injury